<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="config.js"></script>
    <style>
        .buttonLogOut {
            border: none;
            color: white;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div data-role="page" ng-app="myApp" ng-controller="myCtrl">
        <div data-role="header">
            <h1>Payment</h1>
            <a style="display:none;" href=""></a>
            <button style="background-color:red;" ng-click="Logout()" class="buttonLogOut">Log out</button>
        </div>
        <div role="main" class="ui-content">
            <div>
                <form action="#" ng-submit="Paid()" name="myForm">
                    <h3>Amount: <input type="text" name="Payment" ng-model="Payment" ng-disabled="true"  /></h3>
                    <h3>Credit card no.: <input type="text" name="Credit" ng-model="Credit" required oninvalid="this.setCustomValidity('Please fill our this field')" /></h3>
                    <input type="submit" name="paid" value="Paid" />
                </form>
            </div>
              <script>
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope, $http, $window) {
					var userId = $window.sessionStorage.getItem("userId");
					
                    $http.get(ip_address+'Payment/GetTotalPayment?userId='+userId).then(function (response) {
                        $scope.Payment = response.data;
                    });
                    $scope.Paid = function () {
                        $http.get(ip_address+'Payment/Save?userId='+userId+'&cardNo='+$scope.Credit).then(function (response) {
							if(response.data=='true')
							{
								$scope.Payment = "0.00";
								alert('Complete!');
								window.location.href = "home.html";
							}else{
								if(response.data=='false')
									alert("Error!");
								else
									alert(response.data.Message);
							}
						});             
                    }
					$scope.Logout = function () {
                        var userId = $window.sessionStorage.getItem("userId");
                        if (userId != null)
                            $window.sessionStorage.removeItem("userId");
                        window.location.href = "index.html";
                    }
                });
            </script>
        </div>
        <div data-role="footer">
            <h4></h4>
        </div>
    </div>
</body>
</html>
